[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
autopep8 = "*"

[packages]
flask = "*"
bs4 = "*"
lxml = "*"
requests = "*"
gspread = "*"
oauth2client = "*"
daiquiri = "*"
argparse = "*"

[requires]
python_version = "3.6"
